#ad{
    height: 170px;
    background: #00a9dd;
    margin: 1.5rem auto 1rem;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 2rem;
    }
}

@media (max-width: 1400px) {
  #ad {
    height: 140px;
  }
}

@media (max-width: 1200px) {
  #ad {
    height: 120px;
  }
}

@media (max-width: 768px) {
  #ad {
    height: 70px;
  }
}

@media (max-width: 621px) {
  #ad {
    height: 250px;
  }
}
